@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('../assets/pcbg.jpg');
}

.navbar-brand {
    font-family: Anton;
}

.custom-cards img {
    max-width: 100%;
    height: 350px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.custom-cards {
    border: 1px solid #eee;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.custom-cards:hover {
    cursor: pointer;
    opacity: 0.4;
    transition: ease-in-out 100ms;
}

.information {
    display: grid;
    grid-template-areas: 
    "rating-box title title"
    "rating-box description description";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background: #111;
    height: 150px;
}

.rating-box {
    grid-area: rating-box;
    display: grid;
    justify-self: center;
    align-self: center;
    padding: 5px;
}

.title {
    grid-area: title;
    display: grid;
    text-align: center;
    align-items: end;
    padding: 5px;
}

.desc {
    grid-area: description;
    justify-self: center;
    display: grid;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search-container [type=search] {
    padding: 15px;
    border: none;
}

.info {
    background: #111;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.manga-title h5 {
    font-size: 12pt;
}

footer {
    border-top: 1px solid rgba(207, 207, 207, 0.62);
    align-items: center;
    padding: 15px;
    margin-top: 25px;
    color: white;
}

.footer-content {
    font-style: Mukta;
    font-size: 14px;
}

.clock {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

span.date {
    padding: 15px;
    border: 1px solid;
    background: beige;
    font-weight: bold;
}

span.time {
    padding: 15px;
    border: 1px solid;
    background: beige;
    font-weight: bold;
}

h2.placeholder {
    display: flex;
    justify-content: center;
    padding: 15px;
}